<div class="alert alert-primary mt-2 text-center" role="alert">
  TODO (webpack + Backbone.js)
</div>

<div class="row align-items-center mb-2">
  <div class="col-3 text-left">
    <i class="material-icons text-secondary icon-btn all-toggle" id="all-toggle">check_box_outline_blank</i>
    <span class="all-toggle">All</span>
  </div>
  <div class="col-9 text-right header-nav">
  </div>
</div>

<div class="card">
  <div class="card-header bg-dark p-2">
    <div class="row align-items-center">
      <div class="col-9">
        <input type="text" id="title" name="title" class="form-control form-control-sm" placeholder="todo" aria-describedby="tip1" />
        <!-- data-toggle="popover" data-placement="bottom" title="Dismissible popover" data-content="And" -->
      </div>
      <div class="col-3 text-right">
        <i class="material-icons text-success icon-btn" id="add">playlist_add</i>
        <i class="material-icons text-danger icon-btn" id="completed-del">delete_sweep</i>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush" id="list">
  </ul>
</div>